#app
{
	font-family: Helvetica, Arial, sans-serif;
	color: rgba(255,255,255,0.6);
	background-color: #121212;
	height: 100vh;
	overflow-y: scroll;
}


a
{
	color: #1fdeff;
}

	a:hover
	{
		color: #4fe5ff;
	}

body
{
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, .primaryContainerHeading
{
	color: rgba(255,255,255,0.87);
}

.primaryContainerHeading
{
	position: relative;
	top: -10px;
	left: -5px;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	/*text-decoration: underline;*/
	font-family: Verdana;
	display: inline-block;
}

button,
input[type="button"]
{
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
	background-color: #204761;
	color: #ffffff;
}

	button:hover,
	input[type="button"]:hover
	{
		border-color: #646cff;
	}

	button:focus,
	button:focus-visible,
	input[type="button"]:focus,
	input[type="button"]:focus-visible
	{
		outline: 4px auto -webkit-focus-ring-color;
	}

input[type="button"]
{
	padding: 0.3em 0.6em;
}


#app
{
	position: relative;
}

.code
{
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid #9999BB;
	padding: 1em;
	white-space: pre-wrap;
	background-color: rgba(255,255,255,0.14);
	color: rgba(255,255,255,0.82);
}

.icode
{
	display: inline;
	background-color: rgba(255,255,255,0.14);
	color: rgba(255,255,255,0.82);
	font-weight: normal;
	font-style: normal;
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	border-radius: 6px;
}

.primaryContainer
{
	border: 1px solid #999999;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 2em;
	background-color: rgba(255,255,255,0.05);
	/*background: #13112E;*/
	/*background: radial-gradient(ellipse at bottom, #34437A33 0%, #13112E33 80%);*/
}

	.primaryContainer:last-of-type
	{
		margin-bottom: 1em;
	}

.dp00
{
	background-color: rgba(255,255,255,0.0);
}

.dp01
{
	background-color: rgba(255,255,255,0.05);
}

.dp02
{
	background-color: rgba(255,255,255,0.07);
}

.dp03
{
	background-color: rgba(255,255,255,0.08);
}

.dp04
{
	background-color: rgba(255,255,255,0.09);
}

.dp06
{
	background-color: rgba(255,255,255,0.11);
}

.dp08
{
	background-color: rgba(255,255,255,0.12);
}

.dp12
{
	background-color: rgba(255,255,255,0.14);
}

.dp16
{
	background-color: rgba(255,255,255,0.15);
}

.dp24
{
	background-color: rgba(255,255,255,0.16);
}

input[type="text"],
input[type="number"],
select
{
	background-color: rgba(255,255,255,0.07);
	color: rgba(255,255,255,0.87);
	padding: 8px 12px;
	font-size: 1em;
	border: 1px solid #666666;
	border-radius: 4px;
}

select
{
	font-size: 0.9em;
}

option
{
	font-size: 1em;
	color: #000000;
	background-color: #FFFFFF;
}

.dashedBorder
{
	border: 1px dashed #888888;
	border-radius: 5px;
	padding: 8px;
}

	.primaryContainer > *,
	.dashedBorder > *
	{
		margin-bottom: 0.5em;
	}

		.primaryContainer > *:first-child,
		.dashedBorder > *:first-child
		{
			margin-top: 0em;
		}

.primaryContainer .exampleText,
.primaryContainer .comment,
.flexRow .exampleText,
.flexRow .comment
{
	padding-left: 1em;
	padding-top: 0px;
	color: #00D600;
	/*font-weight: bold;
		font-style: italic;*/
}

.flexRow .exampleText,
.flexRow .comment
{
	padding-top: 3px;
}

.flexRow
{
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

	.flexRow > *
	{
		margin-bottom: 0.1em;
	}

	.flexRow label
	{
		flex: 0 0 auto;
		margin-right: 6px;
	}

	.flexRow input[type="text"]
	{
		width: 100%;
		box-sizing: border-box;
	}

/* For WebKit (Safari, Chrome, etc.) */
::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track
{
	background: rgba(255,255,255,0.11);
}

::-webkit-scrollbar-thumb
{
	background-color: #888888;
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: padding-box;
}

/* For Firefox */
*
{
	scrollbar-width: thin;
	scrollbar-color: #888888 transparent;
}

/* For Internet Explorer and Edge */
body
{
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 600px)
{
	.flexRow
	{
		flex-wrap: wrap;
	}
}
