#app
{
	font-family: Helvetica, Arial, sans-serif;
	height: 100vh;
	overflow-y: scroll;
}

body
{
	margin: 0px;
}

.primaryContainerHeading
{
	position: relative;
	top: -10px;
	left: -5px;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	/*text-decoration: underline;*/
	font-family: Verdana;
	display: inline-block;
}

button,
input[type="button"],
.button
{
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

	button:focus,
	button:focus-visible,
	input[type="button"]:focus,
	input[type="button"]:focus-visible,
	.button:focus,
	.button:focus-visible
	{
		outline: 4px auto -webkit-focus-ring-color;
	}

input[type="button"],
.button
{
	padding: 0.3em 0.6em;
}


#app
{
	position: relative;
}

.code
{
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid #9999BB;
	padding: 1em;
	white-space: pre-wrap;
}

.icode
{
	display: inline;
	font-weight: normal;
	font-style: normal;
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	border-radius: 6px;
}

.primaryContainer
{
	border: 1px solid #999999;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 2em;
	background-color: rgba(255,255,255,0.05);
	/*background: #13112E;*/
	/*background: radial-gradient(ellipse at bottom, #34437A33 0%, #13112E33 80%);*/
}

	.primaryContainer:last-of-type
	{
		margin-bottom: 1em;
	}

.dp00
{
	background-color: rgba(255,255,255,0.0);
}

.dp01
{
	background-color: rgba(255,255,255,0.05);
}

.dp02
{
	background-color: rgba(255,255,255,0.07);
}

.dp03
{
	background-color: rgba(255,255,255,0.08);
}

.dp04
{
	background-color: rgba(255,255,255,0.09);
}

.dp06
{
	background-color: rgba(255,255,255,0.11);
}

.dp08
{
	background-color: rgba(255,255,255,0.12);
}

.dp12
{
	background-color: rgba(255,255,255,0.14);
}

.dp16
{
	background-color: rgba(255,255,255,0.15);
}

.dp24
{
	background-color: rgba(255,255,255,0.16);
}

input[type="text"],
input[type="password"],
input[type="number"],
select
{
	background-color: rgba(255,255,255,0.07);
	color: rgba(255,255,255,0.87);
	padding: 8px 12px;
	font-size: 1em;
	border: 1px solid #666666;
	border-radius: 4px;
}

	input[type="text"]:disabled,
	input[type="password"]:disabled,
	input[type="number"]:disabled,
	select:disabled
	{
		color: rgba(255,255,255,0.38);
	}

select
{
	font-size: 0.9em;
}

option
{
	font-size: 1em;
	color: #000000;
	background-color: #FFFFFF;
}

.dashedBorder
{
	border: 1px dashed #888888;
	border-radius: 5px;
	padding: 8px;
}

	.primaryContainer > *,
	.dashedBorder > *
	{
		margin-bottom: 0.5em;
	}

		.primaryContainer > *:last-child,
		.dashedBorder > *:last-child
		{
			margin-bottom: 0em;
		}

.primaryContainer .exampleText,
.primaryContainer .comment,
.flexRow .exampleText,
.flexRow .comment
{
	padding-left: 1em;
	padding-top: 0px;
	color: #00D600;
}

.flexRow .exampleText,
.flexRow .comment
{
	padding-top: 3px;
}

.flexRow
{
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

	.flexRow > *
	{
		margin-bottom: 0.1em;
	}

	.flexRow label
	{
		flex: 0 0 auto;
		margin-right: 6px;
	}

	.flexRow input[type="text"],
	.flexRow input[type="password"]
	{
		width: 100%;
		box-sizing: border-box;
	}
/* Scroll Bars */
/* For WebKit (Safari, Chrome, etc.) */
::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track
{
	background: rgba(255,255,255,0.11);
}

::-webkit-scrollbar-thumb
{
	background-color: #888888;
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: padding-box;
}
/* For Firefox */
*
{
	scrollbar-width: thin;
	scrollbar-color: #888888 transparent;
}
/* For Internet Explorer and Edge */
body
{
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
/* End Scroll Bars */

.helpToggle
{
	position: sticky;
	top: 50px;
	z-index: 1;
	background: #2E2E2E;
	color: rgba(255,255,255,0.77);
	font-size: 1.8em;
	display: inline-block;
	float: right;
	width: 44px;
	height: 44px;
	margin-top: 5px;
	margin-right: 5px;
	line-height: 42px;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #666666;
	border-radius: 4px;
	box-shadow: 0px 1px 4px 4px rgba(0,0,0,0.6);
	cursor: pointer;
}

	.helpToggle:hover
	{
		background-color: #353535;
	}

	.helpToggle.enabled
	{
		background-color: #383838;
		color: rgba(0,255,0,1);
		border-color: rgba(0,255,0,0.66);
		font-weight: bold;
	}

		.helpToggle.enabled:hover
		{
			background-color: #404040;
		}

.floatingButtons > span > *
{
	border-color: #CCCCCC;
	background-color: rgba(0,0,0,0.1);
	fill: rgba(255,255,255,0.77);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

	.floatingButtons > span > *:hover
	{
		background-color: rgba(0,0,0,0.05);
	}

	.floatingButtons > span > *:active
	{
		background-color: #FFFFFF;
	}

@media (max-width: 600px)
{
	.flexRow
	{
		flex-wrap: wrap;
	}
}
